*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

@mixin mainBackground {
	background-color: #66efae;
	height: 100%;
	width: 100dvw;
}

.wrapper {
	@include mainBackground;
	height: 100dvh;
}
.photoMode {
	@include mainBackground;
}
.burgerBtn {
	padding: 10px;
	height: 50px;
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.burgerBtn__barTop {
	width: 100%;
	height: 2px;
	background-color: #fff;
}
.burgerBtn__barMid {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2px;
	background-color: #fff;
}
.burgerBtn__barBottom {
	width: 100%;
	height: 2px;
	background-color: #fff;
}
.nav {
	display: flex;
}
.app {
	height: 85dvh;
	padding: 10px 10px;
	.appText {
		font-size: 2rem;
		padding: 10px;
	}
}

.camera {
	height: 100%;
	background: none;
	border: none;
}
.none {
	display: none !important;
}

.burgerBtn {
	margin-top: 5px;
	padding: 15px;
	height: 60px;
	width: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.burgerBtn__barTop {
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.burgerBtn__barMid {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.burgerBtn__barBottom {
	width: 100%;
	height: 4px;
	background-color: #fff;
}
.nav {
	display: flex;
	height: auto;
}
.logo {
	margin-top: 5px;
	height: 60px;
	cursor: pointer;
	z-index: 1000;
	padding: 5px;
}
.app {
	height: 80dvh;
	padding: 0px 5px;

	.imgGalery {
		border-radius: 5px;
		height: 300px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 5px 0;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: end;
		.choose {
			cursor: pointer;
			position: absolute;
			margin-bottom: 10%;
			padding: 20px 80px;
			background-color: rgba($color: #252424, $alpha: 0.3);
			color: #fff;
			font-size: 1.8rem;
			border-radius: 15px;
			border: none;
		}
	}
	.imgOne {
		background-image: url('/dist/img/dog-1121623_640.jpg');
	}
	.imgTwo {
		background-image: url('/dist/img/dog-1877814_640.jpg');
	}

	.imgThree {
		background-image: url('/dist/img/dog-3389729_640.jpg');
	}
	.imgFour {
		background-image: url('/dist/img/dog-3391051_640.jpg');
	}
	.imgFive {
		background-image: url('/dist/img/dog5.jpg');
	}
	.imgSix {
		background-image: url('/dist/img/dog6.jpg');
	}
	.imgSeventh {
		background-image: url('/dist/img/dog7.jpg');
	}
}
.choose {
	cursor: pointer;
}

.galery {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	justify-content: center;
	align-items: center;
	height: auto;

	.imgGalery {
		border-radius: 5px;
		height: 300px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 5px 0;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: end;
		.choose {
			position: absolute;
			margin-bottom: 10%;
			padding: 20px 80px;
			background-color: rgba($color: #252424, $alpha: 0.3);
			color: #fff;
			font-size: 1.8rem;
			border-radius: 15px;
			border: none;
		}
	}
	.imgOne {
		background-image: url('/dist/img/dog-1121623_640.jpg');
		background-position: center;
	}
	.imgTwo {
		background-image: url('/dist/img/dog-1877814_640.jpg');
		background-position: center;
	}

	.imgThree {
		background-image: url('/dist/img/dog-3389729_640.jpg');
		background-position: center;
	}
	.imgFour {
		background-image: url('/dist/img/dog-3391051_640.jpg');
		background-position: center;
	}
	.imgFive {
		background-image: url('/dist/img/dog5.jpg');
		background-position: top;
	}
	.imgSix {
		background-image: url('/dist/img/dog6.jpg');
		background-position: top;
	}
	.imgSeventh {
		background-image: url('/dist/img/dog7.jpg');
		background-position: center;
	}
}
.footer {
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0;
	align-items: end;
	max-height: 100%;
	.camera {
		height: 100%;
		background: none;
		border: none;
	}
	.fa-solid,
	.fa-regular {
		font-size: 3.4rem;
		padding: 10px;
		color: #fff;
		cursor: pointer;

		bottom: 0;
	}
	.text {
		padding: 10px;
		width: 100%;
		.textItem {
			width: 100%;
			background-color: #fff;
			border-radius: 25px;
			font-size: 3.4rem;

			border: none;
		}
	}
}
.menu {
	min-height: 100dvh;
	width: 100dvw;
	@include mainBackground;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	ul {
		text-decoration: none;
		list-style-type: none;
		text-align: center;
	}
}
.camera {
	height: 100dvh;
	width: 100dvw;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	.xButton {
		color: #fff;
		position: fixed;
		top: 0;
		right: 0;
		margin: 40px;
		padding: 5px;
		font-size: 2rem;
	}
	.notAwabile {
		color: #fff;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 30px;
	}
	.circle {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background-color: #fff;
		margin-bottom: 40px;
	}
}

@media (min-width: 576px) {
	.galery {
		.imgGalery {
			border-radius: 5px;
			height: 500px;
		}
	}
	.app {
		.imgGalery {
			height: 400px;
		}
	}
}

@media (min-width: 768px) {
	.galery {
		.imgGalery {
			border-radius: 5px;
			height: 500px;
		}
	}
	.app {
		.imgGalery {
			height: 400px;
		}
	}
}
@media (min-width: 992px) {
	.galery {
		height: 100dvh;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.app {
		.imgGalery {
			height: 400px;
			width: 50%;
		}
		.text {
			width: 100%;
			align-items: start;
		}
		text-align: left;
	}
}
